.best {
    color: #F19137
}

.main {
    max-width: 500px;
    margin-bottom: 40px;
}

.title {
    font-size: 52px;
    margin: 0;
    line-height: 1.2;
    margin-bottom: 20px;
}

.subtitle {
    margin: 0;
    margin-bottom: 29px;
}

.button {
    padding: 31px 44px;
    background-color: #F19137;
    border-radius: 1000px;
    box-shadow: 0px 0px 56px rgba(241, 145, 55, 0.75);
    border: none;
    color: #fff;
}

.cityes-list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    margin-bottom: 28px;
    & li {
        padding: 18px 36px;
        border: 1px solid #fff;
        border-radius: 1000px;
        &:not(:last-of-type) {
            margin-right: 26px;
        }
    }
}

