.description {
    background-color: #fff;
    height: 120px;
    color: #000;
    border-radius: 20px 20px 0 0;
}

.description-list {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
    & ul {
        list-style: none;
        display: flex;
        gap: 26px;
        align-items: center;
        margin: 0;
        padding: 0;
        & li:first-of-type {
            color: #F19137;
            font-weight: bold;
            font-size: 52px;
        }
    }
}